
Details
*{
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	font-family: 'jost', sans-serif;
}
body{
	background:#f2f2f2;
	/* display: flex; */
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.login-card{
	margin: 80px auto 40px;
	width: 350px;
	height: 430px;
	perspective: 1500px;
}
#chk{
	display: none;
}
#chk:checked ~ .login-content{
	animation: 2s animate;
	transform: rotateY(180deg);
}
@keyframes animate{
	0%{
		transform: translateZ(0px);
	}
	50%{
		transform: translateZ(100px);
	}
	100%{
		transform: rotateY(180deg);
	}
}
.login-content{
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	transition: transform 1s cubic-bezier(0.75, 0,0.85,1);
	border-radius: 8px;
}
.front, .back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	perspective: 1500px;
	border-radius: 8px;
}
.back{
	transform: rotateY(180deg);
}
.inner{
	height: 100%;
	padding: 1.5em;
	transform: translateZ(80px) scale(1);
}
.login-heading{
	position: absolute;
	top: 50px;
	left: 30px;
	font-size: 28px;
	color: #000;
	font-weight: bolder;
}
.additional-heading{
	position: absolute;
	top: 50px;
	left: 30px;
	font-size: 23px;
	color: #000;
	font-weight: bolder;
	padding-bottom: 5px;
}
p{
	font-size: 15px;
	padding: 7px;
	margin-top: 70px;
	text-align: justify;
	line-height: 1.4em;
}
input[type=text],
input[type=password],
input[type=email]{
	width: 95%;
	height: 40px;
	padding: 15px;
	margin: 10px 8px;
	box-sizing: border-box;
	color: #000;
	background:#f5f0f0;
	border: none;
	outline: none;
	border-radius: 4px;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder{
	color: #b5a1a1;
}
textarea {
	width: 95%;
	height: 90px;
	padding: 0 15px 15px 15px;
	margin: 10px 8px;
	box-sizing: border-box;
	color: #000;
	background:#f5f0f0;
	border: none;
	outline: none;
	border-radius: 4px;
	color: #b5a1a1;
}

 #addr-text {
	margin-left: 3%;
	margin-top: 0;
	padding: 0;
}

.front label{
	padding: 8px 6px;
	font-size: 16px;
	color: red;
	float: right;
	cursor: pointer;
}

.back label{
	position: absolute;
	bottom: 40px;
	width: 90%;
	font-size: 16px;
	text-align: center;
	color: red;
	cursor: pointer;
}
.login-btn{
	position: absolute;
	right: 30px;
	width: 82%;
	padding: 7px;
	color: #eee;
	background:red;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: .3s;
}
.front .login-btn{
	bottom: 10%;
}

.back .login-btn{
	bottom: 20%;
}

.login-btn:hover{
	background-color: #cf3c27;
}

.social{
	margin: auto;
	width: 20rem;
}

.btn-social{
	padding-left: 200px;
}
