.payment_page_section{
  background-color: #F7F7EE !important;
  padding: 10% 0;
}

.payment_container_s {
  max-width: 60%;
  padding: 5% 0 0;
  border: 5px solid green;
  border-radius: 5px;
  background-color: #71EFA3;
}

.payment_container_f {
  max-width: 60%;
  padding: 5% 0 0;
  border: 5px solid red;
  border-radius: 5px;
  background-color: #FFAFAF;
}

.payment_info_wrap {
  padding: 0 3%;
}

.success {
  color: green;
  margin-left: 5px;
  margin-right: 15px;
  float: left;
}


.failure {
  color: red;
  margin-left: 5px;
  margin-right: 15px;
  float: left;
}


.payment_msg_s {
  color: #289672;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 0.5%;
}

.payment_msg_f {
  color: #FF5C58;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 0.5%;
}


.payment_details_heading{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 4% 0 10px 5%;
  font-size: 35px;
  color: #516BEB;
}
.payment_details {
  padding: 5% 5%;
}

.payment_info_value_s {
  color: #289672;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

.payment_info_value_f {
  color: #FF5C58;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

.payment_info {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

.after-payment-btn {
  border-color: #516BEB;
  background-color: #516BEB;
  color: white;
}

.after-payment-btn:hover {
  border-color: #516BEB;
  background-color: white;
  color: #516BEB;
}

.post-payment-btn {
  text-align: center;
  margin: 5% auto 0;
}

.after-payment-btn:focus {
  box-shadow: none;
  border-color: #516BEB;
  background-color: #516BEB;
  color: white;
}

@media only screen and (max-width: 992px) {
  .payment_container {
    max-width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .payment_container {
    max-width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .payment_container {
    max-width: 98%;
  }
  .payment_details_heading {
    font-size: 25px;
  }
  .payment_msg {
    font-size: 15px;
    padding-top: 2%;
  }
}
