<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
    <title>ResDine</title>
    <script src="https://kit.fontawesome.com/1cec56f29b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/selectcity.css">
    <link rel="stylesheet" href="/css/restaurant_list.css">
    <link rel="stylesheet" href="/css/restaurantpage.css">
    <link rel="stylesheet" href="/css/user_profile.css">
    <link rel="stylesheet" href="/css/review_order.css">
    <link rel="stylesheet" href="/css/contact_us.css">
    <link rel="stylesheet" href="/css/payment_page.css">
</head>

<body>
<!-- Navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light restaurant_navbar">
    <div class="container ">
        <a class="navbar-brand" href="/">ResDine</a>
        <button class="navbar-toggler _toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav mb-2 mb-lg-0 restaurant_list">
                <li class="nav-item restaurant_list_item">
                    <a class="nav-link restaurant_list_link" id="home-btn" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item restaurant_list_item">
                    <a class="nav-link restaurant_list_link" href="/#feature" tabindex="-1"
                        aria-disabled="true">Features</a>
                </li>
                <li class="nav-item restaurant_list_item">
                    <a class="nav-link restaurant_list_link" id="booktable-btn" href="/selectcity" tabindex="-1"
                        aria-disabled="true">Book Table</a>
                </li>
              </li>
              <li class="nav-item restaurant_list_item">
                  <a class="nav-link restaurant_list_link" id="contactus-btn" href="/contactus" tabindex="-1"
                      aria-disabled="true">Contact Us</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right  ms-auto">

                <% if (loginStatus) { %>
                  <li class="nav-item">
                    <img class="profile-pic img-circle img-thumbnail" src="<%= profilePic %>" alt="avatar">
                  </li>
                  <li class="nav-item">
                    <a href="/profile"><p class="profile-name "><%=  profileName.split(' ')[0] + " " + profileName.split(' ')[1]%></p></a>
                  </li>

                <% } else { %>
                <li class="nav-item btn-sign"></li>
                  <a href="/login"><button class="btn btn-dark btn-lg">Sign in</button></a>
                </li>
                <li class="nav-item btn-sign">
                  <a href="/signup"><button class="btn btn-lg btn-outline-dark">Sign up</button></a>
                </li>
                  <% } %>


            </ul>

        </div>
    </div>
</nav>
<!-- Navbar Ends -->
