<!-- Feature 1 Section -->
<section class="_feature_wrapper" id="feature">
    <div class="_feature_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                    <div class="_feature_content_img">
                        <img src="images/feature_1_img.jpg" alt="Image" class="_feature_1_img">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="_feature_content">
                        <div class="_feature_content_txt">
                            <h5 class="_feature_content_title">WHY CHOOSE US</h5>
                            <h2 class="_feature_content_title2">Find a reservation at your favourite restaurant</h2>
                            <p class="_feature_content_para">Book a reservation in a restaurant of your choice at a
                                low price.</p>
                        </div>
                        <div class="_feature_div_content_btn">
                            <a href="" class="_feature_content_btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature 1 Section Ends -->
<!-- Feature 2  Section -->
<section class="_feature_2_wrapper">
    <div class="_feature_2_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 order-last order-lg-first">
                    <div class="_feature_2_content">
                        <div class="_feature_2_txt">
                            <h5 class="_feature_2_content_title">EXPLORE</h5>
                            <h2 class="_feature_2_content_title2">Find the best restaurants in your city</h2>
                            <p class="_feature_2_content_para">More than 100 restaurants offered in Mumbai, New
                                Delhi, Banglore, Kolkata and Hyderabad.</p>
                        </div>
                        <div class="_feature_2_div_content_btn">
                            <a href="" class="_feature_2_content_btn">Explore Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="_feature_2_content_img">
                        <img src="images/feature_2_img.jpg" alt="Image" class="_feature_2_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature 2  Section ends -->
