<%- include('partials/header') %>

	<!-- Navbar Ends -->
	<div class="container">
		<div class="login-card">
			<input type="checkbox" id="chk" aria-hidden="true" name="">
			<div class="login-content">
				<div class="front">
					<div class="inner">
						<h2 class="additional-heading">Additional Information</h2>
						<p>Please enter your current Address and Phone number.</p>
						<form action="/additional" method="post">
            <input type="text" name="phoneNo" pattern="[1-9]{1}[0-9]{9}"  oninvalid="setCustomValidity('Please Enter a Valid Phone Number')" placeholder="Phone No.">
            <p id='addr-text'>Address:</p>
						<textarea name="addressTextarea" rows="5" cols="35"></textarea>
            <!-- <input type="text" name="Address" size="100" placeholder="Address"> -->
						<button type="submit" class="login-btn">Proceed</button>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

<%- include('partials/footer.ejs') %>
