<%- include('partials/header') %>

<div class="container bootdey">
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <!--<strong>My Bookings</strong>-->
      <!--<div class="btn-group pull-right">
              <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-bs-toggle="dropdown">Filter bookings <i class="fa fa-filter"></i></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Approved orders</a></li>
                      <li><a href="#">Pending orders</a></li>
                  </ul>
              </div>
          </div>-->
    <div class="panel-body">
      <h1 class="booking-heading">My Bookings</h1>
      <div class="row">
        <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right"><label class="label label-danger">Successful</label></div>
              <span><strong>Booking Id: </strong></span> <span class="label label-info">192-317-72</span><br />
              No. of Peoples : 4, Bill: $92.23 <br />
              <!--<a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
              <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
              <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>-->
            </div>
            <div class="col-md-12">booking done on: 06/12/2021</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right"><label class="label label-danger">Successful</label></div>
              <span><strong>Booking Id: </strong></span> <span class="label label-info">176-465-57</span><br />
              No. of Peoples : 3, Bill: $83.58 <br />
              <!--<a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
              <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
              <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>-->
            </div>
            <div class="col-md-12">booking done on: 23/10/2021</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right"><label class="label label-danger">Successful</label></div>
              <span><strong>Booking Id: </strong></span> <span class="label label-info">274-576-22</span><br />
              No. of Peoples : 6, Bill: $122.57 <br />
              <!--<a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
              <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
              <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>-->
            </div>
            <div class="col-md-12">booking done on: 09/08/2021</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right"><label class="label label-danger">Successful</label></div>
              <span><strong>Booking Id: </strong></span> <span class="label label-info">567-432-99</span><br />
              No. of Peoples : 5, Bill: $103.23 <br />
              <!--<a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
              <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
              <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a>-->
            </div>
            <div class="col-md-12">booking done on: 11/10/2020</div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="panel-footer">Put here some note for example: bootdey si a gallery of free bootstrap snippets bootdeys</div>-->
  </div>
</div><br><br>
</div>

<%- include('partials/footer') %>
