<%- include('partials/header') %>

    <!-- title-Section -->
    <header class="title-section">
        <div class="header-title">
            <div class="container title-container">
                <div class="row ">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

                        <h1 class="catch-title">Choose.<br> Reserve.<br> Dine.</h1>
                        <p class="catch-para">Improve your mood with your favorite food without going through a
                            wait list.</p>

                        <div class="book-now">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-3 col-sm-4 col-4 ms-auto ms-md-0">
                                    <a href="/selectcity" class="book-btn _feature_content_btn" id="book-button">Book Now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- title Section Ends -->
    <!-- Service Section -->
    <section class="service_wrapper">
        <div class="service_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="service_heading">
                            <h5 class="service_heading_title">What we do</h5>
                            <h2 class="service_heading_title2">reserve tables at your favorite restaurant</h2>
                        </div>
                    </div>
                </div>
                <div class="service_content_wrap">
                    <div class="row">
                        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" id='reserve-div'>
                                    <div class="service_content_inner">
                                        <div class="service_content_bg"></div>
                                        <div class="service_content">
                                            <div class="service_content_ic">
                                                <i class="fas fa-glass-martini-alt fa-4x"></i>
                                            </div>
                                            <div class="service_content_txt">
                                                <h3 class="service_content_title">Fast Reservation</h3>
                                                <p class="service_content_para">Enjoy your meal by booking a table in
                                                    advance.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" id='payment-div'>
                                    <div class="service_content_inner">
                                        <div class="service_content_bg"></div>
                                        <div class="service_content">
                                            <div class="service_content_ic">
                                                <i class="fas fa-credit-card fa-4x"></i>
                                            </div>
                                            <div class="service_content_txt">
                                                <h3 class="service_content_title">Simple Transaction</h3>
                                                <p class="service_content_para">Make online payment for your
                                                    reservation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" id='cancellation-div'>
                                    <div class="service_content_inner">
                                        <div class="service_content_bg"></div>
                                        <div class="service_content">
                                            <div class="service_content_ic">
                                                <i class="fas fa-minus-circle fa-4x"></i>
                                            </div>
                                            <div class="service_content_txt">
                                                <h3 class="service_content_title">Easy Cancellation</h3>
                                                <p class="service_content_para">Cancel your reservation easily without
                                                    any hassle.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service  Section Ends -->
    <!-- Feature 1 Section -->
    <section class="_feature_wrapper" id="feature">
        <div class="_feature_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                        <div class="_feature_content_img">
                            <img src="images/feature_1_img.jpg" alt="Image" class="_feature_1_img">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="_feature_content">
                            <div class="_feature_content_txt">
                                <h5 class="_feature_content_title">WHY CHOOSE US</h5>
                                <h2 class="_feature_content_title2">Find a reservation at your favourite restaurant</h2>
                                <p class="_feature_content_para">Book a reservation in a restaurant of your choice at a
                                    low price.</p>
                            </div>
                            <div class="_feature_div_content_btn">
                                <a href="/selectcity" class="_feature_content_btn">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature 1 Section Ends -->
    <!-- Feature 2  Section -->
    <section class="_feature_2_wrapper">
        <div class="_feature_2_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 order-last order-lg-first">
                        <div class="_feature_2_content">
                            <div class="_feature_2_txt">
                                <h5 class="_feature_2_content_title">EXPLORE</h5>
                                <h2 class="_feature_2_content_title2">Find the best restaurants in your city</h2>
                                <p class="_feature_2_content_para">More than 100 restaurants offered in Mumbai, New
                                    Delhi, Banglore, Kolkata and Hyderabad.</p>
                            </div>
                            <div class="_feature_2_div_content_btn">
                                <a href="/selectcity" class="_feature_2_content_btn">Explore Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="_feature_2_content_img">
                            <img src="images/feature_2_img.jpg" alt="Image" class="_feature_2_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature 2  Section ends -->

    <%- include('partials/footer.ejs') %>
