<%- include('partials/header') %>
<div class="container">
<div class="row">
	<div class="col-sm-10 col-md-6">
	<div class="login-card">
		<input type="checkbox" id="chk" aria-hidden="true" name="">
		<div class="login-content">
			<div class="front">
				<div class="inner">
					<h2 class="login-heading">Log in</h2>
					<p>Please enter your correct Username and Password.</p>
					<form action="/login" method="post">
					<input type="email" name="username" placeholder="User name" required>
					<input type="password" name="password" placeholder="Password" required>
					<label for="chk" aria-hidden="true">Forget password?</label>
					<button type="submit" class="login-btn">Login</button>
					</form>
				</div>
			</div>
			<div class="back">
				<div class="inner">
					<h2 class="login-heading">Reset password</h2>
					<p>In order to reset your password please keep your registered mobile number with you for OTP.</p>
					<input type="text" name="txt" placeholder="User name">
					<input type="email" name="email" placeholder="Email address">
					<button type="button" class="login-btn">Reset password</button>
					<label for="chk" aria-hidden="true">Back to log-in page</label>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="col-sm-6 col-md-2 social" >
		<div class="card-body">
			<div class="card social-block">
				<a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
					<i class="fab fa-google"></i>
					Sign In with Google
				</a>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 social" ></div>
	</div>
</div>
</div>

	<%- include('partials/footer.ejs') %>
