<%- include('partials/header') %>

  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="../index.html"><img src="../assets/images/brand/logo/logo-icon.svg" class="mb-4" alt=""></a>
              <center><h1 class="mb-1 fw-bold">Forgot Password</h1></center>
              <p>Fill up the following details in order to reset your password.</p>
            </div>
            <!-- Form -->
            <form action="/" method="post">
              <!-- Email -->
              <div class="mb-3">
                <label for="old password" class="form-label">Old Password</label>
                <input type="password" id="email" class="form-control" name="email" placeholder="Enter Your Old Password " required="">
              </div>
              <div class="mb-3">
                <label for="new Password" class="form-label">New Password</label>
                <input type="password" id="new_password" class="form-control" name="new password" placeholder="Enter Your New Password " required="">
              </div>
              <div class="mb-3">
                <label for="re-enter new password" class="form-label">Confirm New Password</label>
                <input type="password" id="re-enter new password" class="form-control" name="re-enter new password" placeholder="Re-enter Your New Password" required="">
              </div><br>
              <!-- Button -->
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary reset-btn">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
