<%- include("partials/header") %> 
<header class="title-section">
    <div class="header-title">
      <div class="container title-container city-container">
        <div class="row ">
          <div class="col-xl col-lg col-md col-sm">


            <h1 class="catch-title city-title title1">Chase The Flavour in Your City</h1>

            <form action="/selectcity" method="post">
              <div class="input-group mb-3 select-city">
                <i class="fa fa-search fa-2x  col-sm-4 icon "></i>
                <select name="city"  class="form-select col-sm-9" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected value="0">Select City</option>
                  <option name="mumbai" value="mumbai">Mumbai</option>
                  <option name="Bangalore" value="Bangalore">Bangalore</option>
                  <option name="newDelhi" value="newDelhi">New Delhi</option>
                  <option name="Kolkata" value="Kolkata">Kolkata</option>
                  <option naem="Hyderabad" value="Hyderabad">Hyderabad</option>
                </select>
              </div>
              <div class="select-city">
                <button type="submit" class="btn submit-button btn-md col-7">Select</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

  </header>
<%- include('partials/footer') %> 