@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.container_2{
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
}
.container_2 .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_2 .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #f86061;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container_2 .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 33px;
  font-weight: 600;
  color: #f86061;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 100px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .contact-button{
  display: inline-block;
  margin-left: 10px;
  border-radius: 40px;
  width: 40%;
}

.right-side .contact-button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 2px 0;
  border-radius: 24px;
  background: #FF1700;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 200px;
}
.contact-button input[type="submit"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container2{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container2 .content .right-side{
   width: 75%;
   margin-left: 55px;
}

  .right-side .contact-button{
    margin-left: 33%;
  }
}
@media (max-width: 820px) {
  .container2{
    margin: 40px 0;
    height: 100%;
  }
  .container_2 .content{
    flex-direction: column-reverse;
  }
 .container_2 .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container_2 .content .left-side::before{
   display: none;
 }
 .container_2 .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
