/* ----------
title
---------- */

.city-container{
  padding-top:1%;
}
.city-title {
  font-size: 4.2rem;
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 45px;;
}



/* -----
Icon
----- */
.icon {
 background: #f55253 !important;;
 color: white;
 padding:15px 3%;
 text-align: center;
 border-radius: 3px;
}


/*
------------
Submit button
------------ */
.select-city{
  width:40%;
  margin: auto ;
  padding-bottom: 2%;
}
.submit-button {
  background-color: #f55253 !important;;
  color: white;
  padding: 20px 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 75px;
  margin-left: 24%;
}
.submit-button:hover {
 opacity: 0.9;
}
