/*-----------------------
        Common CSS
-------------------------*/

* {
  margin: 0px;
  padding: 0px;
}

html {
  padding: 0px;
  margin: 0 auto;
}

body {
  margin: 0px auto;
  padding: 0px;
  background-color: var(--bg) !important;
}

a:hover {
  text-decoration: none;
}

pre,p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0px;
}

textarea {
  resize: none !important;
}

button, select {
  cursor: pointer;
}

button:focus,input:focus,select:focus,textarea:focus {
  outline: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  display: block;
}

a:hover {
  text-decoration: none;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

/*-----------------------
    Navbar
-------------------------*/
.btn{
  margin: 5px ;
}

.navbar-brand{
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 50px;
}

.btn-signin{
  margin-right: 15px;
}

.nav-link{
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: light;
}

.restaurant_navbar {
  background: none !important;
  margin-top: 10px;
}

.restaurant_list_item {
  margin:  auto 10px auto;
}

._toggler {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.restaurant_list_link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: #4d4d4d !important;
  padding: 8px 0 0 0!important;
}

._active {
  color: #f55253 !important;
}

.restaurant_list_link:hover {
  color: #f55253 !important;
}


/*-----------------------
    Navbar Ends
-------------------------*/

/*-----------------------
    Header
-------------------------*/

.title-section {
  padding: 5px 0 0 ;

}

.header-title{
  background-image: url("../images/title-img1.jpeg");
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.title-container{
  backdrop-filter: blur(10px);
  padding: 4rem ;
}

.catch-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.01em;
  color: #F2F2F2;
}

.catch-para {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: #f7e4ce;
  max-width: 80%;
  margin: 22px 0;
}

.book-now {
  margin: 50px 0 10px 0;
}

.book-btn {
  background: var(--bg3);
  border-radius: 12px;
  width: 186px;
  padding: 25px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #fffafa !important;
  display: block;
  border: 1px solid transparent;
}


/*-----------------------
    Header Ends
-------------------------*/

/*--------------------------
    Service Grover Grocery
---------------------------*/

.service_wrapper {
  padding: 100px 0;
  background-color: var(--bg2);
}

.service_heading {
  text-align: center;
}

.service_heading_title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin: 0 0 8px 0;
}

.service_heading_title2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 50%;
  margin: 0 auto;
}

.service_content_wrap {
  margin: 60px 0 20px 0;
}

.service_content_inner {
  position: relative;
}

.service_content_bg {
  position: absolute;
  width: 310px;
  height: 350px;
  background: #fe6a6a;
  border-radius: 12px;
  left: 28px;
  z-index: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.service_content_inner:hover
  .service_content_bg {
  opacity: 1;
  left: 38px;
  top: -3px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.service_content {
  margin: 20px;
  background-color: var(--bg);
  border-radius: 12px;
  padding: 50px 28px;
  position: relative;
  z-index: 2;
}

.service_content_img {
  width: auto;
  height: 60px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
  filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
}

.service_content_ic {
    width: auto;
    height: 60px;
    text-align: center;
    color: #fe6a6a;
}

.service_content_txt {
  text-align: center;
  margin: 60px 0 10px 0;
}

.service_content_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: var(--color2);
  margin: 0 0 15px 0;
}

.service_content_para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--color3);
  max-width: 90%;
  margin: 0 auto;
}

/*-----------------------------
    Service Grover Grocery Ends
------------------------------*/

/*-------------------------
    Feature Section
-------------------------*/

._feature_wrapper {
  padding: 50px 0;
}

._feature_content {
  margin: 50px 0 20px 0;
}

._feature_content_title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #03a66b;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

._feature_content_title2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 75%;
  margin: 0 0 22px 0;
}

._feature_content_para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 70%;
}

._feature_div_content_btn {
  margin: 50px 0 20px 0;
}

._feature_content_btn {
  display: block;
  background: var(--bg3);
  border-radius: 12px;
  width: 200px;
  padding: 24px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #fffafa !important;
}

._feature_content_btn:hover {
  background: var(--bg);
  color: var(--bg3) !important;
  border: 1px solid var(--bg3);
}

._feature_1_img{
  width: 80%;
  height: auto;
  border-radius: 25px;
  margin-top: 50px;
}
/*------------------------------
    Feature Section Ends
------------------------------*/

/*-------------------------
    Feature 2 Section
-------------------------*/

._feature_2_wrapper {
  padding: 50px 0;
}

._feature_2_content {
  margin: 25px 0 20px 0;
}

._feature_2_content_title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #f9ba45;
  margin: 0 0 8px 0;
}

._feature_2_content_title2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 90%;
  margin: 0 0 22px 0;
}

._feature_2_content_para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 80%;
}

._feature_2_div_content_btn {
  margin: 50px 0 20px 0;
}

._feature_2_content_btn {
  display: block;
  background: var(--bg3);
  border-radius: 12px;
  width: 200px;
  padding: 24px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #fffafa !important;
}

._feature_2_content_btn:hover {
  background: var(--bg);
  color: var(--bg3) !important;
  border: 1px solid var(--bg3);
}

._feature_2_img{
  width: 70%;
  height: auto;
  margin-top:25px;
  margin-left: 100px;
  border-radius: 25px;
}

/*------------------------------
    Feature 2 Grover Section Ends
------------------------------*/

/*--------------------------------
    Footer Grover Grocery Section
--------------------------------*/

footer {
  background-color: #f55253 ;
  color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

a{
  color: #f8f8f8;
}
/*-------------------------------------
    Footer Grover Grocery Section Ends
--------------------------------------*/

/*------------------
    Variable
------------------*/

:root {
  /* Colors */
  --color: #000;
  --color2: #2e2e2e;
  --color3: #676767;
  --color4: #4d4d4d;
  /* Colors */
  /* Background */
  --bg: #fff;
  --bg2: #fef5f5;
  --bg3: #f86061;
  /* Background */
  /* Border */
  --border-color: #eedcdc !important;
  --border-color2: #ddedf4 !important;
  /* --border-color3: #31C3E0 !important; */
  /* Border */
}

/*------------------
    Variable Ends
------------------*/
