body,html{
  min-height: 100%;
}
header{
  background-image: url("photo7.jpeg");
  background-repeat:no repeat;
  background-size:cover;
  opacity:1;
}

/* ----------
title
---------- */
.title-container{
  padding-top:1%;
}
.catch-title {
  font-size: 80px;
  text-align: center;
  padding-bottom: 45px;;
}



/* -----
Icon
----- */
.icon {
 background: #f55253 !important;;
 color: white;
 padding:15px 3%;
 text-align: center;
 border-radius: 3px;
}


/*
------------
Submit button
------------ */
.select-city{
  width:40%;
  margin-left: 30%;
  padding-bottom: 2%;
}
.submit-button {
  background-color: #f55253 !important;;
  color: white;
  padding: 20px 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 75px;
  margin-left: 24%;
}
.submit-button:hover {
 opacity: 0.9;
}
