.restaurant-title-img {
  background-image: url("../images/title-img1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 100%;
}

.restaurant-title-content {
  /* position: relative; */
  margin: 5px 10px;
  padding: 7% 7% 7% 10%;
}

.restaurant-name {
  padding-bottom: 50px;
}
body,html{
  min-height: 100%;
}
body{
  background-color: #EAEAEA;
}

.title{
  color:#fff;
  padding:7px 0;
}
/* .nav-link{
  color:#fff;
  font-size:1.2rem;
}
.nav-link:hover{
  color:#EAEAEA;
  opacity:0.8;
}
.navbar-nav{
  padding:0 0px;
}
.nav-item{
  padding:0 15px;
} */

/*-----------------------
    Navbar
-------------------------*/
.btn{
  margin: 5px ;
}

.navbar-brand{
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 50px;
}

.btn-signin{
  margin-right: 15px;
}

.nav-link{
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: light;
}

.restaurant_navbar {
  background: none !important;
  margin-top: 10px;
}

.restaurant_list_item {
  margin:  auto 10px auto;
}

._toggler {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.restaurant_list_link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: #4d4d4d !important;
  padding: 8px 0 0 0!important;
}

._active {
  color: #f55253 !important;
}

.restaurant_list_link:hover {
  color: #f55253 !important;
}


/*-----------------------
    Navbar Ends
-------------------------*/
.icon {
  padding-top: 14px;
  min-width: 70px;
  text-align: right;
  margin:auto;
  color:#fff;
}
.helpline{
  padding-top: 6%;
}
#restaurant-cover-image{
  background-image: url("/images/photo4.jpg");
  height:400px;
  width:100%;
  background-repeat:no repeat;
  background-size:cover;
  background-position: center;
  opacity:0.95;
}

/* Restaurant details section */
#restaurant-details{
  background-color: #F6F6F6;
  width:55%;
  height:1900px;
  float:left;
  margin:2% 2% 2% 10%;
  border-radius: 1%;
}


/* For booking section */
.book-a-table{
  background-color: #fff;
  width:85%;
  height:90%;
  margin:auto;
  border-radius: 2%  ;

}

#book-a-table-col {
  padding-left: 3%;
}

/* Restaurant name heading */
h1{
  text-align: center;
}
hr{
  color:#B91646;
  background-color: #grey;
  height:2px;
  border-width: 2px;
}
.restaurant-features-left{
padding:1% 10px 2%;
}

.restaurant-features-right{
  padding: 1% 10px 10%;
}
.icon-rating{
  color:red;
}


/* For restaurant navbar controls */
.item{
  float:left;
}
.rest-navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B91646;
}
.item-about, .item-menu, .item-photos{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.item-about:hover, .item-menu:hover, .item-photos:hover{
  background-color: #111;
  color:#EAEAEA;
}



/* Menu images */
.menu-images{
  width:47.5%;
  height:500px;
  margin-left:10px;
}
.carousel-inner{
  width:100%;
  height:550px;
  background-repeat:no repeat;
  background-size:cover;
  background-position: center;
}
.d-block{
  border:5px solid #B91646;
}



h3{
  text-align: center;
  padding-top:10px;
}
hr{
  margin-left: 3%;
  margin-right: 3%;
}

/* For controls of menu,image and about headings */
.about-restaurant{
  margin: 5% 1%;
}


p{
  line-height: 200%;
  margin-top: 10px;
  margin-left: 10px;
}

/* Icons of booking section */
.fa-users{
  /* margin-right: 3px;
  padding-left: 12px; */
}
.fa-table{
  margin:0 1% 5% 0;
  padding-left: 4%;
  padding-top: 1%;
  padding-right: 5px;
}
.book-a-table-icon{
  margin:auto;
  /* padding-right: 5px;
  padding-left: 8px;*/
  float: left;
}
.book-a-table-selection {

}

.custom-select {
  margin-left: 5%;
}
.book-button{
  margin: 0 45px;
  max-width: 75%;
  background-color:#B91646;
}
.book-button:hover{
  background-color: green;
}


/* Booking section containers */
#date-of-booking{
  margin-bottom: 22px;
  margin-left: 5%;
  padding:1% 0;
  width:75%;
}
.social-icon{
  margin:20px 10px;
}
.guest-container,.date-container,.time-container{
  margin-bottom: 3%;
}



#footer{
  padding:7% 15%;
  text-align:center;
  float:left;
  width: 100%;
  background-color: #B91646;
}
