body {
    background: rgb(99, 39, 120)
}

label{
  margin-left: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #f55253;
    width: 227px;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #f55253;
}

.profile-button:focus {
    background: #f55253;
    box-shadow: none
}

.profile-button:active {
    background: #f55253;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 16px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.profile-Pic{
  height: 200px;
  width: 200px;
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.user-info{
  text-align: center;
}
