#title {
  font-family: "Fjalla One", sans-serif;
}

.title-container {
  background-image: url("https://b.zmtcdn.com/data/collections/0fecfe2b205a9dd7da273f6841115eef_1454036759.jpg?fit=around|562.5:360&crop=562.5:360;*,*");
  background-repeat: no-repeat;
  background-size: cover;
  width:auto;
  height:400px;
}

.nav-container {
  background-color: black;
  opacity: 0.8;
  padding: 20px 15px 0;
  height: 100px;
}

.navbar-brand-name {
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 5px;
  font-weight: lighter;
}

#search-area {
  background-color: #fff;
  text-align: center;
  padding: 0 100px 50px 0;
}

.search-bar-container {
  padding: 100px 100px;
}

.search-icon {
  align-content: center;
  margin: auto;
  background-color: #fff;
}

.about-us-section {
  font-family: "Fjalla One", sans-serif;
  padding-top: 50px;
}

.about-us-heading {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 30px;
  font-color: #8f8f8f;
}

.carousel-item {
  height:  300px;
}

#footer {
  background-color: #8f8f8f;
  text-align: center;
  padding: 5% 15% 1%;
}

.footer-description {
  color: #fff;
}

.footer-icon {
  padding: 0 5px;
}
